.recipe {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.select_filters {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search_filter {
    display: flex;
    justify-content: center;
}

.searchbox {
    padding: 2px;
    margin-top: 25px;
    width: 12rem;
}

.recipe_detail {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.update_recipe {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipe__header {
    display: flex;
    justify-content: space-between;
}

.recipe__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe__title {
    font-weight: bolder;
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    width: 400px;
}

.recipe__title_detail {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.update__recipe_header {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.detail__action_buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.recipe__image {
    width: 500px;
    height: auto;
    cursor: pointer;
}

.recipe__image_detail {
    width: 600px;
    height: auto;
}

.recipe__category_detail {
    text-align: right;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: italic;
}

.recipe__author_detail {
    font-size: 14px;
    cursor: pointer;
}

.recipe__publication_date {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
}

.recipe__publication_date_detail {
    font-size: 14px;
}

.recipe__content_detail {
    width: auto;
}

.comments__reactions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comment__button {
    width: 130px;
    background-color: #48C88C;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe__author {
    font-size: 15px;
    cursor: pointer;
}

.recipe__reaction_count {
    font-size: 12px;
}

.add__home_recipes {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: -25px;
}

.add__recipes {
    display: flex;
    width: 1000px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25px;
}

.add__recipes_button {
    width: auto;
    height: 35px;
    line-height: 10px;
    font-size: 25px;
    text-align: center;
    background-color: #ae48c8;
    color: white;
    border: none;
    cursor: pointer;
}

.recipes__grid {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    border: 1px solid black;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.grid__header {
    width: 200px;
    text-align: center;
}

.grid__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.recipe__titles {
    display: block;
    text-align: left;
    width: 200px;
    padding: 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

.recipe__authors {
    display: block;
    text-align: center;
    font-style: italic;
    width: 200px;
    padding: 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

.recipe__dates {
    display: block;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-right: 1px solid black;
}

.recipe__categories {
    display: block;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-right: 1px solid black;
}

.recipe__tags {
    display: block;
    text-align: center;
    width: 200px;
    padding: 10px;
}

.recipeForm {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-bottom: 30px;
}

.RecipeForm__title {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    font-weight: bolder;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control-title {
    width: 500px;
    height: 35px;
    margin-bottom: 25px;

}

.form-control-image {
    width: 500px;
    height: 35px;
    margin-bottom: 25px;

}

.form-control-content {
    width: 500px;
    height: 250px;
    margin-bottom: 25px;
    padding: 5px;
}

.form-control-category {
    width: auto;
    height: 25px;
    margin-bottom: 25px;
}

.form-control-tag {
    width: 25px;
    margin-bottom: 25px;
}

.btn-publish {
    width: 75px;
    height: 35px;
    color: white;
    background-color: #48C88C;
    border: none;
    border-radius: 5px;
}

.btn-save {
    width: 75px;
    height: 35px;
    color: white;
    background-color: #48C88C;
    border: none;
    border-radius: 5px;
    align-self: center;
    font-weight: bold;
}

.action__buttons_container {
    display: flex;
    justify-content: flex-end;
}

.action__button {
    width: 5%;
    height: auto;
    cursor: pointer;
    
}

.gear__buttons {
    width: 2%;
    height: auto;
}

