.h1 {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}  

.categoryList {
    width: 45%;
    border-collapse: collapse;
    max-width: 45%;
}

.categoryForm {
    width: 45%;
    max-width: 45%;
    padding-left: 50px;
}

.formBorder {
    border: 1px solid #6ECF45;
}

.categoryRow {
    display: flex;
    justify-content: space-around;
    border: 1px solid #6ECF45;
    padding: 5px;
}

.span_name {
    width: 25%;
}

.span_description {
    width: 45%;
}

.span_buttons {
    width: 15%;
    margin-left: 30px;
}

.icon {
    font-size: 1.2em;
}

.action__button {
    width: 150px;
    height: 15px;
    cursor: pointer;
}

.button_save {
    display: flex;
    align-self: center;
    border-radius: 0.5rem;
	border: 2px solid;
	font-family: 'Limelight', cursive;
	font-size: inherit;
	color: #000000;
	background-color: #f6a98d;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 1rem 1rem 1rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	line-height: 40px;
	padding: 0.4rem;
	box-shadow: 0 7px #999;
  }

  .button_save:hover {
	background: #3DD8FC;
}
  
  .button_save:active {
	background-color: #6ECF45;
	color: #ffffff;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

.catform-control {
    height: 60px;
    margin-left: 5px;
    width: 95%;
    display:flex;
    flex-wrap: wrap;
    border: none;
}