.comment_form {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 20px;
    width: 400px;
    height: 250px;
    border: 2px solid  #6ECF45;
    border-radius: .5rem;
}

.comment_btn {
	background-color: #f6a98d;
	color: #000000;
	line-height: 35px;
	padding: 0;
	margin: 1rem 1rem 1rem 0;
	padding: 0.4rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	border: 2px solid;
	box-shadow: 0 7px #999;
  }

  .comment_btn:hover {
	background-color: #3DD8FC;
  }
  
  .comment_btn:active {
	background-color: #6ECF45;
	color: #ffffff;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

.comment_form_input {
    margin: 5px;
}

.action__button {
    width: 40px;
}