nav {
	z-index: 9999;
}

:root {
	--mainColor: #5cd8b7;
	--mainColorLight: #f6a98d;
	--secondaryColor: #6ECF45;
	--textColor: #3DD8FC;
}

.navbar__img {
 width: 100px;
 margin-top: 1rem;
}

.navbar-menu {
	display: flex;
	justify-content: space-evenly;
	background-image: linear-gradient(to top, #1b1b1b, #1b1b1b, #e41154);
	color: var(--textColor);
}

.nav__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-image: linear-gradient(to top, #78D1CC, #38d39f, #E1AD9E);
	color: var(--textColor);
}

.navbar__item {
    font-size: 1.2rem;
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

.navbar__item:hover {
	color: var(--secondaryColor);
}

.navbar__item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .navbar__item:hover, .navbar__item:focus, .navbar__item:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.nav__header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.nav__header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.nav__header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-image: linear-gradient(to bottom, #78D1CC, #38d39f, #E1AD9E);
		transition: 1s;
	}

	.nav__header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.navbar__item {
		font-size: 1.5rem;
	}
}
